# JeVois initialization script
#
# This script is run upon statup of the JeVois main engine. You can here specify commands (like you would type them to
# the JeVois command-line interface) to execute upon startup, even before a module is loaded.

# start streaming:
setpar serlog None
setmapping2 YUYV 320 240 30.0 JeVois EagleTrkNoStream
setpar serout Hard
streamon